@font-face {font-family: "Freight Big Pro";
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.svg#Freight Big Pro") format("svg"); /* iOS 4.1- */
}

body {
  font-family: "Freight Big Pro"!important;
  overflow-x: hidden;
}