@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.item-image {
    max-width: 100%;
    max-height: 100%;
}

.general-family {
    font-family:"Freight Big Pro";
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
}

.black-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: black;
}

.brown-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: brown;
}

.blue-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: blue;
}

.green-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: green;
}

.bronze-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color:  #cd7f32;
}

.navy-blue-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #000080;
}

.copper-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #b87333;
}

.pink-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: pink;
}

.white-color:before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #e4e4e4;
}

.general-selection-box {
    border: 1px solid #e4e4e4;
    text-align: center;
    padding: 0.4rem 0 0.4rem 0;
}

.selected-item {
    background-color: black;
    color: white!important;
    transition: 0.3s;
}

.selected-color {
    transform: scale(1.4);
    transition: 0.3s;
}

.input-style {
    width: 100%;
    font-family: "Freight Big Pro";
    font-size: 0.95rem;
    padding: 0.5rem 0 0.5rem 0;
    text-indent: 1.7rem;
    border:0;
}

.search-icon-position {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0; 
    display: flex;
    align-items: center;
    color: gray;
    font-size: 0.9rem;
}

.ad-text {
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
}

.helv-family {
    font-family: 'Roboto', sans-serif;
}

.product-title {
    font-weight: 500;
    font-size: 1.1rem;
}

.product-subtitle {
    color: gray;
}

.transition-time {
    transition: all 0.35s linear; 
    -o-transition: all 0.35s linear; 
    -moz-transition: all 0.35s linear; 
    -webkit-transition: all 0.35s linear
    /* transition: 0.3s; */
}


.hideAnimation {
    animation-name: hideFilter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.showAnimation {
    animation-name: showFilter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes hideFilter {
    0% {
      transform: translateX(0%);
      position: relative;
    }
    100% {
      transform: translateX(-100%);
      position: absolute;
    }
  }


@keyframes showFilter {
    0% {
      transform: translateX(-100%);
      position: absolute;
    }
    100% {
      transform: translateX(0%);
      position: relative;
    }
  }

  .gender-icon {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
  }

  .gender-icon > i {
      color: white;
  }

  .season-icon {
      color: rgb(250, 84, 0);
      font-size: 1.1rem;
  }

