.top-layout {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/front3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Freight Big Pro";
    text-align: center;
}

.front-big-title {
    font-size: 7rem;
    font-weight: 900;
    font-family: "Freight Big Pro";
    line-height: 1;
}


.subtitle-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: "Freight Big Pro";
    line-height: 1;
}

.subsub-text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Freight Big Pro";
    line-height: 1;
    font-style: italic;
    /* color: gray; */
}

.subsubsub-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Freight Big Pro";
    line-height: 1;
    /* color: #e4e4e4; */
}

.subsub-button {
    padding: 0.6rem 2rem;
    border: 0;
    color: white;
    background-color: #08090A;
    font-family: "Freight Big Pro";
    font-size: 0.8rem;
    font-weight: 900;
}

.collection-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Freight Big Pro";
    line-height: 1;
    font-style: italic;
}

.service-button {
    padding: 1rem 3.5rem;
    border: 0;
    /* color: white; */
    border: 1px solid #08090A;
    background-color: white;
    font-family: "Freight Big Pro";
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-title {
    font-size: 2rem;
    font-weight: 200;
    font-family: "Freight Big Pro";
    line-height: 1;
}

.footer-smalltitle {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Freight Big Pro";
    line-height: 1;
    border: 0;
    background-color: transparent;
}

.footer-smalltitle:focus {
    outline: none;
}

.footer-layout {
    font-size: 0.8rem;
    font-family: "Freight Big Pro";
}

.input-styles {
    font-size: 1.3rem;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    padding: 8px 50px 8px 44px;
    border: 0;
    background-color: #f5f5f5;
    border-radius: 50px;
    width: 100%;
    text-indent: 3px;
    color: black;
}

.input-subscribe {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 8px 50px 8px 8px;
    border-bottom: 1px solid #e4e4e4;
    width: 70%;
    color: black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

input:focus {
    outline: none;
}

.modal-head-text {
    font-family: "Freight Big Pro";
    font-size: 2.1rem;
    font-weight: 400;
    text-align: center;
}

.label-text {
    font-family: "Freight Big Pro";
    font-size: 1.5rem;
    font-weight: 400;
}

.form-controller {
    font-family: "Freight Big Pro";
    font-size: 1rem;
    font-weight: 400;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0.4rem 0 0.4rem 0;
    width: 100%;
}

.form-controller:focus {
    outline: none!important;
}

.modale-close-button {
    padding: 0.6rem 1.7rem;
    border: 0;
    /* color: white; */
    border: 1px solid #08090A;
    background-color: white;
    font-family: "Freight Big Pro";
    font-size: 1.2rem;
    font-weight: 400;
}