
* {
    font-family:-apple-system, system-ui, BlinkMacSystemFont;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-left: 4rem;
    padding-right: 4rem;
    color: white;
    font-weight: 600;
}

.nav-text {
    font-weight: 900;
    font-family: "Freight Big Pro";
    font-size: 2.3rem;
    letter-spacing: 2px;
}

.nav-text:focus {
    text-decoration: none;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container > input {
    width: 70%;
    border: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-indent: 0.8rem;
}

.search-container > input:focus {
    outline: none!important;
}

.search-container > input::placeholder {
    font-size: 1rem;
}

.search-icon {
    position: absolute;
    color: gray;
}

.box-icon > svg {
    height: 1.5rem;
    width: 1.5rem;
    fill:gray;
}

.dropdown-toggle::after {
    display: none!important;
}

.dropdown > button {
    border: 0!important;
 background-color: transparent!important;
}

.dropdown > button:focus {
    outline: 0!important;
    box-shadow: none!important;
}

.dropdown > div {
    border-radius: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;

}

.dropdown > div > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 10rem;
    color: #06c;
}

.dropdown > div > a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #06c;
}

hr {
    padding: 0;
    margin: 0;
}

#bags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding-right: 0;
}

#full-bag {
    width: 100%;
    /* max-height: 20rem;
    overflow: auto; */
}

.count-container-cool {
    color: white;
    background-color: #0071e3;
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    right: 0.5em;
}

.bag-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    height: 6rem;
}

.bag-item > img {
    max-width: 100%;
    max-height: 100%;
}

.bag-item-text-head {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 0.9rem;
}

.bag-item-text-sub {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #AAAEB1;
}

.checkout-small-btn {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0;
    background-color: #0071E3;
    color: white!important;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    text-align: center;
}

.checkout-small-btn:hover {
    text-decoration: none;
    outline: none;
}

.checkout-small-btn:focus {
    outline: none;
}

.checkout-small-btn-container {
    width: 100%;
}

.search-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1000000;
    background-color: white;
}


/* overlay copied from internet */

.overlay {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }

  .overlay-menu {
      color: black;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 40%;
    z-index: 999;
  }

  .overlay-blur {
    position: fixed;
    background: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    /* -webkit-transition: opacity .35s, visibility .35s, height .35s, background-color .35s, backdrop-filter .35s;
    transition: opacity .35s, visibility .35s, height .35s, background-color .35s, backdrop-filter .35s; */  
    -webkit-transition: 0.05s;
    transition: 0.05s;
    overflow: hidden;
  }

  .overlay-blur.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 99;
    background-color: hsla(0,0%,7%,.36);
    backdrop-filter: blur(4px);
  }
  
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
  }
  
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
  }
  
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
  }
  
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
  }
  
  .popular  {
    position: relative;
    font-size: 1rem;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    text-align: left;
  }

  .special-family {
    font-family: 'Montserrat', serif;
  }
  
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  
  .overlay ul li {
    display: block;
    position: relative;
    opacity: 0;
  }
  
  .overlay ul li a {
    display: block;
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
    font-size: larger;
    font-weight: 600;
  }
  
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after,
  .overlay ul li a:active:after {
    width: 100%;
  }
  
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: black;
    -webkit-transition: .35s;
    transition: .35s;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .close-btn {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: #f5f5f5;
  }

  .searchbar-icon {
      position: absolute;
      left: 1rem;
      top: 0;
      bottom: 0;
  }
  .searchbar-icon > i {
    font-size: 1.2rem;
    color: gray;
}


.popular-search-main {
    color: gray;
    font-weight: 500;
}

  